@import url('https://fonts.googleapis.com/css?family=Srisakdi');
@import url('https://fonts.googleapis.com/css?family=Kodchasan');



/*BACKGROUND IMAGE---------------------------------------------------------------------------*/

body {
    background-image: url("../photo/The_Script_Cover_2017_FINAL_SQ_RGB.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    background-attachment: scroll;
    background-color: #091729;
    color: white;
    padding: 20px;
}





/*ALL MUSIC PARTS-----------------------------------------------------------------------------*/

.text-on-screen,
.timeline-item .tops .accessories .hoodies .fa {
    color: white;
    font-family: 'Kodchasan', sans-serif;
}


.tops {
    height: 100px;
    width: 100px;


}

.sign-up {
    color: white;
}

.about-text {
    color: white;
    border-style: solid;
    border-color: white;
}


/*columns on homepage-------------------------------------------------------------------------------------*/

.left-column {
    width: 25%;
    border-style: solid;
    border-color: white;
    float: left;
}

.center-column {
    width: 50%;
    border-style: solid;
    border-color: white;
    float: left;
    margin-bottom: 100px;
}

.right-column {
    width: 25%;
    border-style: solid;
    border-color: white;
    float: left;
    margin-top: 36px;
}

.container {
    width: 100%;
    border-style: solid;
    border-color: white;
    padding-top: 10%;
}

.footer_bar {
    width: 100%;
    border-style: solid;
    border-color: white;
    font-size: 50px;

}

.special-event {
    font-size: 20px;
}

.row-social {
    height: 10px;
    margin: 10px;
    padding: 10px;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
}

.navbar li {
    color: #000
}

.navbar-custom .nav>li>a {
    color: white;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
.past-events-row {
    text-decoration: underline;
    text-align: center;
}
ol {
    position: relative;
    display: block;
    margin: 100px;
    height: 4px;
    background: #31708F;
    margin-bottom: 100px;
}

ol::before,
ol::after {
    position: absolute;
    top: -8px;
    display: block;
    width: 0;
    height: 0;
    border-radius: 10px;
    border: 10px solid #31708F;
}

ol::before {
    left: -5px;
}

ol::after {
    right: -10px;
    border: 10px solid transparent;
    border-right: 0;
    border-left: 20px solid #31708F;
    border-radius: 3px;
}

/* ---- Timeline elements ---- */

li {
    position: relative;
    display: inline-block;
    float: left;
    width: 150px;
    font: bold 14px arial;
    height: 50px;
}

li .past-events {
    position: absolute;
    top: -47px;
    left: 36%;
    color: white;
    font-size: 22px;
    font-family: 'Kodchasan', sans-serif;
    text-decoration: underline;
}

li .point {
    content: "";
    top: -4px;
    left: 43%;
    display: block;
    width: 6px;
    height: 6px;
    border: 4px solid #31708F;
    border-radius: 10px;
    background: #fff;
    position: absolute;
}

li .description {
    display: none;
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    font-weight: normal;
    z-index: 1;
}

.description::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f4f4f4;
    position: absolute;
    top: -5px;
    left: 43%;
}

/* ---- Hover effects ---- */

li:hover {
    cursor: pointer;
    color: #48A4D2;
}

li:hover .description {
    display: block;
    color: black;
    font-family: 'Kodchasan', sans-serif;
}
